<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<span style="color:red;" *ngIf="message">{{message}}</span>
<br>
<h1 style="text-align: center;">CREATE A MOSAIC PICTURE</h1>
<br>
<h3 style="text-align: center;">Select a single main Image</h3>
<div class="input-group mb-3" style="width: 50%;left: 25%;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input #file type="file" accept='image/*' (change)="preview(file.files)" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
</div>
<br>
<img class="center" [src]="mainImg" height="200" *ngIf="mainImg">
<h3 style="text-align: center;">Select multiple images for the cards (use CRTL)</h3>

<div class="input-group mb-3" style="width: 50%;left: 25%;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input #files type="file" accept='image/*' (change)="previewMult(files.files)" multiple class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
</div>
<br>
<img src="{{card}}" *ngFor="let card of cardImgs"  height="50" >
<br>
<h3 style="text-align: center;">Select the number of cards</h3>
<div class="input-group mb-3" style="left: 48%;">
    <div class="input-group-prepend">
        <input  type="number" [(ngModel)]="numRec" min="1" max="1000">
    </div>
</div>
<br>
<div class="input-group mb-3" style="left: 45%;">
    <div class="input-group-prepend">
        <button class="btn btn-primary btn-lg" (click)="createMosaic()">create mosaic</button>
    </div>
</div>
<img class="center"  src="{{result}}"   height="500"  >
<!-- <button class="btn btn-primary" (click)="test()">test</button>-->
<router-outlet></router-outlet>